{% extends "base.html" %}
{% block title %}Arena | Home{% endblock %}

{% block content %}
  <div class="text-center">
    <h1 class="display-4">Welcome to Python(CodeCraft)Arena 🧠⚔️</h1>
    <p class="lead">Sharpen your Python skills with real interactive challenges.</p>
  </div>

  <div class="list-group mt-5">
    {% for cid, entry in challenges.items() %}
      {% set title = entry[0] %}
      <a href="{{ url_for('main.run_challenge', cid=cid) }}" class="list-group-item list-group-item-action">
        Challenge {{ cid }}: {{ title }}
      </a>
    {% endfor %}

  </div>
{% endblock %}
